@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations from SharedHostingpage.jsx */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-float {
  animation: float 3s ease-in-out infinite;
}
.delay-300 {
  animation-delay: 0.3s;
}
.delay-500 {
  animation-delay: 0.5s;
}
.delay-700 {
  animation-delay: 0.7s;
}
.delay-1000 {
  animation-delay: 1s;
}

/* Animation for Heroindia.jsx */
@keyframes gentle-bounce {
  0%,
  100% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-5px) scale(1.01);
  }
}
.animate-gentle-bounce {
  animation: gentle-bounce 3s ease-in-out infinite;
}
